<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="ImagesFolder" value="D:\tryScannerManager" />
		<add key="DevconPath" value="devcon.exe" />
		<add key="ScanningDPI" value="75" />
		<add key="ScannerNames" value="EPSON Perfection V200 #1,EPSON Perfection V200 #2,EPSON Perfection V200 #5,EPSON Perfection V200 #3" />
		<add key="ScannerPowerPorts" value="-1,-1,0,1" />
		<add key="ScannerRelay" value="NONE,DEVCON,A06167,A06167" />
	
	
		<!--  Environmental Room  -->
		<add key="ReadValuesURI" value="/cgi-bin/ReadFile.exe?" />
        <add key="OrderValuesURI" value="/cgi-bin/OrderValues.exe?" />
        <add key="SetValuesURI" value="/cgi-bin/writeVal.exe?PDP%2C%2C" />
        <add key="ControllerIP" value="132.64.81.98" />
        <add key="DefaultRecordingInterval"  value="5" />
		<add key="ControlerIsReadonly" value="true" />
       
     
        <!--  Parameter To read  -->
        <add key="ParamsID" value="1080,0003,1082,0002,1081,0001,0032" />
        <add key="ParamsName"  value="Pressure,PressureSP,Humidity,HumiditySP,Temperature,TemperatureSP,Steam" />
        <add key="ParamsLongName"  value="Pressure,Pressure Set Point,Humidity,Humidity Set Point,Temperature,Temperature Set Point,Steam Generator" />
        <add key="ParamsReadOnly"  value="1,0,1,0,1,0,1" />
	
		<!-- Email and SMS sender-->
		<add key="GmailSenderUser" value="nqbscannernotifier@gmail.com" />
		<add key="GmailSenderPassword" value="NQBpassword" />
		<add key="SMSProviderEmailServer" value="@spikkosms.com" />
	
	</appSettings>
	
	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="LogFileAppender" />
		</root>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
			<param name="File" value="D:\tryScannerManager\log.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5level - %message%newline" />
			</layout>
		</appender>
	
	</log4net>

</configuration>
