<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		
		<!-- Scanners and Relay parameters-->
		<add key="ImagesFolder" value="D:\Scans" /> <!--Default folder for scanned images-->
		<add key="DevconPath" value="devcon.exe" />
		<add key="ScanningDPI" value="300" /> <!--Scanning Resolution-->
		<add key="ScannerNames" value="EPSON Perfection V200 #10,EPSON Perfection V200 #11,EPSON Perfection V200 #9,EPSON Perfection V200 #18,EPSON Perfection V200 #17,EPSON Perfection V200 #3" /> <!-- A list of connected scanners-->
		<add key="ScannerPowerPorts" value="0,1,2,1,2,3" /> <!--Relay port ID for each scanner (-1 if none)-->
		<add key="ScannerRelay" value="A06125,A06125,A06125,A06167,A06167,A06167" /> <!--Relay name or disconnection method-->
		<add key="EnvRoomExist" value="0" />	<!-- Save environmental data -->
		<add key="EnableDelay" value="1500" />	<!-- Time interval (in ms) between enabling scanner and scanning -->
		<add key="DisableDelay" value="1000" />	<!-- Time interval (in ms) between disabling scanner and continuing -->
		
		<!-- Email and SMS sender using standard SMTP-->
		<add key="GmailSenderUser" value="scanner.manager@gmail.com" />
		<add key="GmailSenderPassword" value="nqblab123" />
		<add key="ICQSenderUid" value="629371136" />
		<add key="ICQSenderPassword" value="SMSsnd1" />
	
		<!--  Environmental Room  -->
		<add key="ReadValuesURI" value="/cgi-bin/ReadFile.exe?" />
        <add key="OrderValuesURI" value="/cgi-bin/OrderValues.exe?" />
        <add key="SetValuesURI" value="/cgi-bin/writeVal.exe?PDP%2C%2C" />
        <add key="ControllerIP" value="132.64.81.98" />
        <add key="DefaultRecordingInterval"  value="5" />
		<add key="ControlerIsReadonly" value="true" />
           
        <!--  Environmental Room: Parameter To read  -->
        <add key="ParamsID" value="1080,0003,1082,0002,1081,0001,0032" />
        <add key="ParamsName"  value="Pressure,PressureSP,Humidity,HumiditySP,Temperature,TemperatureSP,Steam" />
        <add key="ParamsLongName"  value="Pressure,Pressure Set Point,Humidity,Humidity Set Point,Temperature,Temperature Set Point,Steam Generator" />
        <add key="ParamsReadOnly"  value="1,0,1,0,1,0,1" />
	
	</appSettings>
	
</configuration>
